.vs__selected-options {
    padding-top: 4px !important;
    padding-bottom: 4px !important;
    padding-left: 6px !important;
}

.vs__dropdown-toggle {
    border-color: #E4E6EF !important;
}

.vs__actions {
    padding-right: 12px !important;
}